* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mi-divx {
    background-image: url("../../background.jpg");
    width: 100% !important;
    height: 92vh;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
