* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mi-div {
    background-image: url("../../background.jpg");
  min-height: 100vh;
    min-width: 180vh;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
.jejejx{
    height: 100%;
    width: 100%;
}
