*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
.mi-div {
      background-image: url('.././background.jpg');
      background-position:center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;

    }